<section class="outer-container">
    <div class="central-container">
      <h1>Panjabi Dictionary</h1>
      <%= form_tag(search_page_path, :method => "get") do %>
        <%= search_field_tag :search, params[:search],autocomplete: "off", placeholder: "Search"%>
        <%= button_tag "Search",:name => nil%>
      <% end %>
  </div>
</section>
