<div class="outer-container">
  <div class="central-container new-central-container">
    <h1>Submit Word</h1>

    <%= render 'form', panjabi_word: @panjabi_word %>

    <%= link_to 'Back', panjabi_words_path %>
  </div>
</div>
