/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* -------------------------------------------------------------------------------- GLOBAL */
html, body {
    font-family : 'Roboto', sans-serif;
    margin      : 0;
    padding     : 0;
    font-size   : 16px;
}

input, textarea{
    background : var(--light-grey5);
    color      : var(--dark-grey6);
    border        : none;
    padding       : 5px 10px;
    border-radius : 5px;
    margin        : 2px;
}

/* -------------------------------------------------- CLASS-LEVEL GLOBAL */
.central-container{
    padding-top: 30px;
    width: 1000px;
    display: flex;
}

.outer-container{
    display: flex;
    justify-content: space-around;
}

div.actions input{
    border        : none;
    padding       : 5px 10px;
    border-radius : 5px;
    margin        : 2px;
}

div.actions input, button{
    background : var(--system-blue);
    color      : white;
}

div.actions input, button:hover{
    cursor: pointer;
}

/* -------------------------------------------------------------------------------- NAVBAR */
nav {
    background      : var(--light-grey5);
    border-bottom   : 2px solid var(--light-grey1);
    display         : flex;
    justify-content : space-around;
}

nav .central-container{
    justify-content : space-between;
    padding         : 10px;
    flex-wrap       : wrap;
}

.navbar-item {
    display         : flex;
    flex-wrap       : wrap;
    justify-content : space-between;
}

.navbar-item a, .navbar-item a:visited {
    background      : none;
    margin          : 0px 20px;
    text-decoration : none;
    color           : black;
}
