/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* -------------------------------------------------------------------------------- GLOBAL */
html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

input,
textarea {
    background: var(--light-grey5);
    color: var(--dark-grey6);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 2px;
}


label {
    display: block;
    margin-top: 10px;
    font-size: 14px;
}

/* -------------------------------------------------- CLASS-LEVEL GLOBAL */
.central-container {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 1000px;
}

.central-container h1 {
    font-family: 'Playfair Display', serif;
    text-align: center;
}

.outer-container {
    display: flex;
    justify-content: space-around;
}

div.actions input {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 2px;
}

/* -------------------------------------------------------------------------------- GLOBAL FORMS */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 10px;
}

form .field {
    width: 100%;
}

form .field input.input {
    width: 100%;
}

form input.button, button {
    background: var(--system-blue);
    margin: 10px auto;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
    border: none;
}

input, textarea {
    box-sizing: border-box;
}

form *{
    font-family: "Inter", sans-serif;
    font-size: 14px;
}
/* -------------------------------------------------------------------------------- NAVBAR */
nav {
    background: var(--light-grey5);
    border-bottom: 2px solid var(--light-grey1);
    display: flex;
    justify-content: space-around;
}

nav .central-container {
    justify-content: space-between;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
}

.navbar-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.navbar-item a,
.navbar-item a:visited {
    background: none;
    margin: 0px 20px;
    text-decoration: none;
    color: black;
}

/* -------------------------------------------------------------------------------- DEVISE SIGNUP */
.new_user .actions{
    text-align: center;
}
