// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.search-container{
    display         : flex;
    min-height      : 100px;
    height          : 500px;
    max-height      : 700px;
    justify-content : space-around;
    align-items     : center;
}
