// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


section .central-container input#search{
    width: 100%;
    max-width: 600px;
}

// -------------------------------------------------------------------------------- PROFILE PAGE
.profile div, .profile div *{
    width:100%;
}
