// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

section .central-container{
    flex-direction  : column;
    justify-content : center;
    align-items     : center;
}


section .central-container h1{
    font-family : "EB Garamond", serif;
    font-weight : normal;
    font-size   : 36px;
    width       : 500px;
    text-align  : center;
    margin      : 20px;
}

section .central-container input#search{
    width : 400px;
}
