// Place all the styles related to the PanjabiWords controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// -------------------------------------------------------------------------------- SUBMISSIONS PAGE
.submissions-central-container{
    flex-direction: column;
    align-items: center;
}

table{
    border-collapse: collapse;
}

th, td{
    border: 1px solid black;
    padding: 5px;
}

th{
    background: var(--light-grey4);
}

tr:nth-child(even){
    background: var(--light-grey6);
}

// -------------------------------------------------------------------------------- SUBMIT WORD PAGE
.word-section,.translation-section{
    display               : grid;
    grid-column-gap       : 10px;
    width: 90%;
}

.word-section div, .translation-section div{
    display        : flex;
    flex-direction : column;
    justify-content: center;
}

.translation-submit {
	text-align: center;
	display: inline;
	margin: 10px auto;
}

.translation-submit input{
    background: var(--system-blue);
    color: white;
}

textarea{
    resize: none;
}

// ------------------------------------------------------------------------------- LAPTOP SPECIFIC SETTINGS
@media only screen and (min-width: 800px) {
    .anuvaad{
        grid-column: 2 / span 1;
        grid-row: 2 / span 2;
    }

    .anuvaad textarea{
        flex-grow: 2;
    }

    .usage{
        grid-column: 2 / span 1;
        grid-row: 4 / span 2;
    }

    .usage textarea{
        flex-grow: 2;
    }

}

// -------------------------------------------------------------------------------- SEARCH RESULTS
.word-entry{
    background: var(--light-grey5);
    padding: 10px;
    border-radius: 10px;
    margin:10px;
}

.word-entry *{
    margin: 5px;
}

.word-entry>.word-meaning{
    padding-left:40px;
}

.word-entry>.translation-entry{
    margin:10px;
    border: var(--light-grey4) solid 1px;
    width:auto;
}
